*{
    margin: 0px;
    padding: 0px;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choice {
    height: 200px;
    width: 200px;
}

img {
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}